# direnv activates hooks when entering a directory https://direnv.net/
# Here we use nix direnv to load the nix shell when entering the directory
# https://github.com/nix-community/nix-direnv
use flake
