# This file is used by direnv, a tool to activate hooks when entering a directory
# (see https://direnv.net/ for more info).

# Here we use direnv to load the nix shell when entering the directory
# (see https://github.com/nix-community/nix-direnv for more info).
use flake
