[submodule "OSS/languages/typescript/tree-sitter/semgrep-tsx"]
path = languages/typescript/tree-sitter/semgrep-tsx
url = https://github.com/returntocorp/semgrep-tsx

[submodule "OSS/languages/typescript/tree-sitter/semgrep-typescript"]
path = languages/typescript/tree-sitter/semgrep-typescript
url = https://github.com/returntocorp/semgrep-typescript

[submodule "OSS/libs/ocaml-tree-sitter-semgrep"]
path = libs/ocaml-tree-sitter-semgrep
url = https://github.com/semgrep/ocaml-tree-sitter-semgrep.git
branch = malaverdiere-license-change

[submodule "OSS/languages/terraform/tree-sitter/semgrep-hcl"]
path = languages/terraform/tree-sitter/semgrep-hcl
url = https://github.com/returntocorp/semgrep-hcl

[submodule "OSS/languages/swift/tree-sitter/semgrep-swift"]
path = languages/swift/tree-sitter/semgrep-swift
url = https://github.com/returntocorp/semgrep-swift.git

[submodule "OSS/tests/semgrep-rules"]
path = tests/semgrep-rules
url = https://github.com/returntocorp/semgrep-rules.git

