(* pin-depends let's opam know where to pull the source for dependencies from *)
(* Since we're vendoring all these dependencies instead of pulling them from opam *)
(* we put them here! *)
pin-depends: [
  (* coupling: if this is removed, make sure the minimum ocaml version in *)
  (* dune-project is correct, and uncomment the line in semgrep.nix marked *)
  (* coupling: Ensure consistent commit SHA between the following files:
        - OSS/semgrep.opam.template
        - OSS/semgrep.opam
        - semgrep-pro.opam.template
        - semgrep-pro.opam
  *)
  ["ocaml-variants.5.3.0" "git+https://github.com/semgrep/ocaml.git#8521d35f98c3bbd7fdcb6678bf120b334b4b6a9c"]
  ["pcre2.dev" "git+https://github.com/semgrep/pcre2-ocaml.git#4e0a44486bb518b7a24ca11286c4b03a8d51e17e"]
  ["tree-sitter.dev" "git+https://github.com/semgrep/ocaml-tree-sitter-core.git#abb14bfa9ce2bb983f425f091b0cffe44fdb6848"]
  ["testo.dev" "git+https://github.com/semgrep/testo.git#df18ea541c75c9acf75923218586c5ffe8915a04"]
  ["testo-util.dev" "git+https://github.com/semgrep/testo.git#df18ea541c75c9acf75923218586c5ffe8915a04"]
  ["testo-diff.dev" "git+https://github.com/semgrep/testo.git#df18ea541c75c9acf75923218586c5ffe8915a04"]
  ["testo-lwt.dev" "git+https://github.com/semgrep/testo.git#df18ea541c75c9acf75923218586c5ffe8915a04"]
  ["obackward.dev" "git+https://github.com/semgrep/obackward.git#060ebb528e88b27124b33b5cfaf8ed04b7da6e41"]
  (* coupling: update the submodule in cli/src/semgrep too *)
  ["semgrep-interfaces.dev" "git+https://github.com/semgrep/semgrep-interfaces.git#533177d79c471320b73f9e63d4d41095e8019391"]
  (* TODO: Once we start releasing this as an opam package and it's stable
     we should just install these as normal opam packages instead of a submodule *)
  (* coupling: makefile pyro-caml-install commit sha for the pyro-caml binary *)
  ["pyro-caml-instruments.dev" "git+https://github.com/semgrep/pyro-caml.git#af9d3a1aaf188a6d55c76f29a06cf2808f65e000"]
  ["pyro-caml-ppx.dev" "git+https://github.com/semgrep/pyro-caml.git#af9d3a1aaf188a6d55c76f29a06cf2808f65e000"]
  ["opentelemetry.dev" "git+https://github.com/semgrep/ocaml-opentelemetry.git#3fbac328221af1665d7ca3fbd02760058f0f353e"]
  ["opentelemetry-client-ocurl.dev" "git+https://github.com/semgrep/ocaml-opentelemetry.git#3fbac328221af1665d7ca3fbd02760058f0f353e"]
  ["opentelemetry-client-cohttp-eio.dev" "git+https://github.com/semgrep/ocaml-opentelemetry.git#3fbac328221af1665d7ca3fbd02760058f0f353e"]
  ["opentelemetry-logs.dev" "git+https://github.com/semgrep/ocaml-opentelemetry.git#3fbac328221af1665d7ca3fbd02760058f0f353e"]
]

(* Needed for alpine linux docker image. These used to get pulled in *)
(* automatically in alpine 3.21 but in >3.22 they dont *)
depexts: [
    ["pcre-static"] {os-distribution = "alpine"}
    ["pcre2-static"] {os-distribution = "alpine"}
    ["gmp-static"] {os-distribution = "alpine"}
]
