(* pin-depends let's opam know where to pull the source for dependencies from *)
(* Since we're vendoring all these dependencies instead of pulling them from opam *)
(* we put them here! *)
pin-depends: [
  (* coupling: if this is removed, make sure the minimum ocaml version in *)
  (* dune-project is correct, and uncomment the line in semgrep.nix marked *)
  (* coupling: Ensure consistent commit SHA between the following files:
        - OSS/semgrep.opam.template
        - OSS/semgrep.opam
        - semgrep-pro.opam.template
        - semgrep-pro.opam
  *)
  ["ocaml-variants.5.4.0" "git+https://github.com/semgrep/ocaml.git#4046c817ed2ed5c2431300902d1bd306230bf3dd"]
  ["pcre2.dev" "git+https://github.com/semgrep/pcre2-ocaml.git#e88c082341e4ff278eed892c17032df83b26e585"]
  ["tree-sitter.dev" "git+https://github.com/semgrep/ocaml-tree-sitter-core.git#c4baff8d83b2e1f83f247acb11d0c9dafa5e48f7"]
  ["obackward.dev" "git+https://github.com/semgrep/obackward.git#e1c16766976b4fadd97097b96f96666e8e1cb98c"]
  (* coupling: update the submodule in cli/src/semgrep too *)
  ["semgrep-interfaces.dev" "git+https://github.com/semgrep/semgrep-interfaces.git#7e509db48c700cae49fe0372e2aa0410fa86d867"]
  (* TODO: Once we start releasing this as an opam package and it's stable
     we should just install these as normal opam packages instead of a submodule *)
  (* coupling: makefile pyro-caml-install commit sha for the pyro-caml binary *)
  ["pyro-caml-instruments.dev" "git+https://github.com/semgrep/pyro-caml.git#d6941d16419a7d73d60126a70400fdb4d207e2ab"]
  ["pyro-caml-ppx.dev" "git+https://github.com/semgrep/pyro-caml.git#d6941d16419a7d73d60126a70400fdb4d207e2ab"]
  ["memtrace.dev" "git+https://github.com/janestreet/memtrace.git#a88470c3de884182503ba5fcd4729e281e544731"]
]

(* Needed for alpine linux docker image. These used to get pulled in *)
(* automatically in alpine 3.21 but in >3.22 they dont *)
depexts: [
    ["pcre2-static"] {os-distribution = "alpine"}
    ["gmp-static"] {os-distribution = "alpine"}
    (* obackward statically links libdwarf/libunwind (and comprmarsh links *)
    (* libzstd); the fully-static alpine build needs the .a archives. The *)
    (* obackward opam package no longer declares these as depexts, so we *)
    (* require them here on the package that actually links them. *)
    ["zstd-static"] {os-distribution = "alpine"}
    ["xz-static"] {os-distribution = "alpine"}
    ["bzip2-static"] {os-distribution = "alpine"}
    ["libunwind-static"] {os-distribution = "alpine"}
]
