(* pin-depends let's opam know where to pull the source for dependencies from *)
(* Since we're vendoring all these dependencies instead of pulling them from opam *)
(* we put them here! *)
pin-depends: [
  (* TODO: move pcre2, testo, and obackward to be pinned to git repos *)
  ["pcre2.dev" "./libs/pcre2"]
  ["tree-sitter.dev" "./libs/ocaml-tree-sitter-core"]
  ["testo.dev" "./libs/testo"]
  ["testo-util.dev" "./libs/testo"]
  ["testo-diff.dev" "./libs/testo"]
  ["obackward.dev" "./libs/obackward"]
  ["semgrep-interfaces.dev" "./cli/src/semgrep/semgrep_interfaces"]
  (* TODO: Once we start releasing this as an opam package and it's stable
     we should just install these as normal opam packages instead of a submodule *)
  ["pyro-caml-instruments.dev" "./libs/pyro-caml"]
  ["pyro-caml-ppx.dev" "./libs/pyro-caml"]
  ["opentelemetry.dev" "git+https://github.com/semgrep/ocaml-opentelemetry.git#3fbac328221af1665d7ca3fbd02760058f0f353e"]
  ["opentelemetry-client-ocurl.dev" "git+https://github.com/semgrep/ocaml-opentelemetry.git#3fbac328221af1665d7ca3fbd02760058f0f353e"]
  ["opentelemetry-client-cohttp-eio.dev" "git+https://github.com/semgrep/ocaml-opentelemetry.git#3fbac328221af1665d7ca3fbd02760058f0f353e"]
  ["opentelemetry-logs.dev" "git+https://github.com/semgrep/ocaml-opentelemetry.git#3fbac328221af1665d7ca3fbd02760058f0f353e"]
]

(* Needed for alpine linux docker image. These used to get pulled in *)
(* automatically in alpine 3.21 but in >3.22 they dont *)
depexts: [
    ["pcre-static"] {os-distribution = "alpine"}
    ["pcre2-static"] {os-distribution = "alpine"}
    ["gmp-static"] {os-distribution = "alpine"}
]
