> GET /MY%20SECRET HTTP/1.1
> Host: www.example.com
> Content-Type: charset=utf-8
> User-Agent: Semgrep (test)
> 
< HTTP/1.1 200 OK
< Location: http://www.example.com/
< Content-Length: 0
< 
< 
> GET /DELETED! HTTP/1.1
> Host: www.example.com
> Content-Type: charset=utf-8
> User-Agent: Semgrep (test)
> 
> 
< HTTP/1.1 401 Unauthorized
< Location: http://www.example.com/
< Content-Length: 0
< 
> GET /DELTED! HTTP/1.1
> Host: www.example.com
> Content-Type: charset=utf-8
> User-Agent: Semgrep (test)
> 
< HTTP/1.1 401 Unauthorized
< Location: http://www.example.com/
< Content-Length: 0
< 
< 
