version: 2.1
jobs:
  build:
    docker:
      - image: returntocorp/sgrep-build:2.3
    steps:
      - checkout
      - run: cd ~ && git clone  https://github.com/returntocorp/pfff
      - run: eval $(opam env) && cd ~/pfff && git checkout bb3d11515b435bf37bdd1863c2839ef8efde9d82 && ./configure && make depend && make && make opt && make install-libs
      - run: eval $(opam env); dune build
      - persist_to_workspace:
          root: /home/opam/project
          paths:
            - _build
  test:
    docker:
      - image: returntocorp/sgrep-build:2.3
    steps:
      - checkout
      - attach_workspace:
          at: /home/opam/project
      - run: ./_build/default/bin/main_sgrep.exe -e foo tests/GENERIC/test.py
      - run: eval $(opam env); dune runtest
workflows:
  version: 2.1
  build_and_test:
    jobs:
      - build
      - test:
          requires:
            - build
