[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
appdirs = "*"
mypy = "==0.931"
pytest = "*"
pytest-snapshot = "*"
pytest-xdist = "*"
tox = "*"
requests-mock = "*"
pypi-parker = "*"
pytest-freezer = "*"
pytest-mock = "*"
pytest-rerunfailures = "*"
pytest-asyncio = "*"
backports-asyncio-runner = {version="==1.2.0", markers="python_version < '3.11'"}
pytest-split = "*"
types-appdirs = "*"
types-colorama = "~=0.4.0"
types-freezegun = "*"
types-jinja2 = "*"
types-python-dateutil = "*"
types-requests = "*"
types-setuptools = "*"
types-jsonschema = "4.25.1.20251009"
importlib_metadata = "*"
importlib_resources = ">=1.4.0"
typing_extensions = "*"

[packages]
mcp = "==1.16.0"
opentelemetry-api = "~=1.37.0"
opentelemetry-sdk = "~=1.37.0"
opentelemetry-exporter-otlp-proto-http = "~=1.37.0"
opentelemetry-instrumentation-requests = "~=0.58b0"
jsonschema = "==4.25.1"
"ruamel.yaml.clib" = "==0.2.14"
pywin32 = { version = "==311", markers = "platform_system == 'Windows'" }
semgrep = {editable = true, path = "."}
