[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
# testing & linting packages
appdirs = "*"
mypy = "==0.931"
pytest = "*"
pytest-snapshot = "*"
pytest-xdist = "*"
tox = "*"
requests-mock = "*"
# versions must be manually synced:
# - cli/setup.py lists dependencies
# - cli/Pipfile lists type hint packages for dev env
# - .pre-commit-config.yaml's mypy hooks also list type hint packages
# type hints
pypi-parker = "*"
pytest-freezegun = "*"
pytest-mock = "*"
pytest-rerunfailures = "*"
# for pytest --splits and --group
pytest-split = "*"
types-colorama = "~=0.4.0"
types-freezegun = "*"
types-jinja2 = "*"
types-jsonschema = "==4.6.0"
types-python-dateutil = "*"
types-requests = "*"
types-setuptools = "*"
# pipenv does not support multiple python versions, but the
# dependencies of jsonschema differ from < 3.8 to >= 3.8. Therefore we just
# rely on these directly for the dev environment so that an entry for these is
# always generated for the lockfile, regardless of the local version of python.
# If we change to Poetry or another system which allows multiple version of
# python these could likely be removed.
#
# Sourced from
# <https://github.com/python-jsonschema/jsonschema/blob/afc22f09e74d696ab00be8a711bbc5c2a15327b7/pyproject.toml#L39-L41>
#
# These _should not_ be added to setup.py
importlib_metadata = "*"
importlib_resources = ">=1.4.0"
typing_extensions = "*"

[packages]
jsonschema = "==4.6.1"
opentelemetry-api = "~=1.25.0"
opentelemetry-sdk = "~=1.25.0"
opentelemetry-exporter-otlp-proto-http = "~=1.25.0"
opentelemetry-instrumentation-requests = "~=0.46b0"
semgrep = {editable = true, path = "."}
