[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
appdirs = "*"
pytest = "*"
pytest-snapshot = "*"
pytest-xdist = "*"
tox = "*"

[packages]
click = "~=8.0.1"
click-option-group = "~=0.5.3"
semgrep = {editable = true,path = "."}
