[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
appdirs = "*"
pytest = "*"
pytest-snapshot = "*"
pytest-xdist = "*"
tox = "*"

[packages]
semgrep = {editable = true,path = "."}
