[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
wheel = "*"
tox = "*"
pytest-snapshot = "*"
pytest-benchmark = "*"

[packages]
semgrep = {editable = true,path = "."}

[requires]
python_version = "3.7"
