name: benchmark-parameterized

on:
  workflow_dispatch:
    inputs:
      CONFIG:
        description: "Config"
        default: "p/auto"
        required: true
      REPO:
        description: "Repository"
        default: "https://github.com/returntocorp/semgrep.git"
        required: true

jobs:
  run-benchmark:
    name: run benchmark
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: [3.7]
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: true
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
      - name: Download artifacts
        uses: dawidd6/action-download-artifact@v2
        with:
          workflow: tests.yml
          workflow_conclusion: success
          name: ocaml-build-artifacts
          check_artifacts: false
      - name: Install artifacts
        run: |
          tar xf ocaml-build-artifacts.tgz
          sudo cp ocaml-build-artifacts/bin/* /usr/bin
      - name: Install semgrep
        run: |
          cd semgrep
          export PATH=/github/home/.local/bin:$PATH
          pip3 install pipenv==2021.5.29
          pipenv install --dev
      - name: Run benchmark
        run: |
          export PATH=/github/home/.local/bin:$PATH
          git clone --depth=1 ${{github.event.inputs.REPO}} target
          cd target
          PIPENV_PIPFILE=../semgrep/Pipfile /usr/bin/time pipenv run semgrep --metrics=off --config=${{github.event.inputs.CONFIG}} --time --json . >times.json
      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: times
          path: target/times.json
