name: build-test-javascript

on:
  workflow_dispatch:
  workflow_call:

jobs:
  build-semgrep-js-ocaml:
    runs-on: ubuntu-latest
    container: returntocorp/ocaml:ubuntu-2023-04-03
    # We need this hack because GHA tampers with the HOME in container
    # and this does not play well with 'opam' installed in /root
    env:
      HOME: /root
    steps:
      - name: Make checkout speedy
        run: git config --global fetch.parallel 50
      - uses: actions/checkout@v3
        with:
          submodules: true
      - name: Set up tree-sitter
        run: |
          (cd libs/ocaml-tree-sitter-core && ./configure && ./scripts/install-tree-sitter-lib)
      - name: Cache git checkout
        id: cache-git
        uses: actions/cache/save@v3
        with:
          path: .
          key: semgrep-with-submodules-and-tree-sitter-${{ github.sha }}
      - name: Build semgrep
        run: |
          eval $(opam env)

          # TODO: figure out why the opam install fails on ubuntu
          #make install-deps-for-semgrep-core

          . libs/ocaml-tree-sitter-core/tree-sitter-config.sh

          # TODO: figure out why we need to do this
          ln -s $TREESITTER_INCDIR/tree_sitter /usr/include/tree_sitter

          dune build js --profile=release
      - uses: actions/upload-artifact@v3
        with:
          name: semgrep-js-ocaml-build
          retention-days: 1
          path: |
            _build/default/js/engine/*.bc.js
            _build/default/js/languages/*/*.bc.js

  build-test-npm-packages:
    needs: [build-semgrep-js-ocaml]
    runs-on: ubuntu-latest
    container: emscripten/emsdk:3.1.36
    strategy:
      fail-fast: true
      matrix:
        package:
          - engine
          - languages/bash
          - languages/c
          - languages/cpp
          - languages/csharp
          - languages/dockerfile
          - languages/elixir
          - languages/go
          - languages/html
          - languages/java
          - languages/json
          - languages/jsonnet
          - languages/kotlin
          - languages/lisp
          - languages/lua
          - languages/ocaml
          - languages/php
          - languages/python
          - languages/r
          - languages/ruby
          - languages/rust
          - languages/scala
          - languages/solidity
          - languages/swift
          - languages/terraform
          - languages/typescript
    env:
      HOME: /root
    steps:
      - name: Restore git checkout cache
        id: restore-git
        uses: actions/cache/restore@v3
        with:
          path: .
          key: semgrep-with-submodules-and-tree-sitter-${{ github.sha }}
      - name: Make checkout speedy
        if: ${{ steps.restore-git.outputs.cache-hit != 'true' }}
        run: git config --global fetch.parallel 50
      - uses: actions/checkout@v3
        if: ${{ steps.restore-git.outputs.cache-hit != 'true' }}
        with:
          submodules: true
      - name: Set up tree-sitter
        if: ${{ steps.restore-git.outputs.cache-hit != 'true' }}
        run: |
          (cd libs/ocaml-tree-sitter-core && ./configure && ./scripts/install-tree-sitter-lib)
      - uses: actions/download-artifact@v3
        with:
          name: semgrep-js-ocaml-build
          path: _build/default/js
      - uses: actions/setup-node@v3
        with:
          node-version: "18"
      - name: Build and test package
        run: |
          . libs/ocaml-tree-sitter-core/tree-sitter-config.sh
          make -C js/${{ matrix.package }} build test
