name: build-tests

on:
  workflow_dispatch:
  pull_request:
    paths-ignore:
    - '**.md'
  push:
    branches:
      - develop

jobs:
  build-core:
    name: Build and Test semgrep-core
    runs-on: ubuntu-latest
    container: returntocorp/ocaml:alpine
    steps:
      - name: Pre-checkout fixes
        run: |
          sudo chmod -R 777 /github
          github_cache_dir="/__w"
          sudo mkdir -p "$github_cache_dir"
          sudo chmod -R 777 "$github_cache_dir"
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: true
      - name: Post-checkout fixes
        run: ./.github/post-checkout
      - name: Build semgrep-core
        run: ./scripts/install-alpine-semgrep-core
      - name: Upload artifacts
        uses: actions/upload-artifact@v1
        with:
          name: ocaml-build-artifacts
          path: ocaml-build-artifacts.tgz
      - name: Test semgrep-core
        run: |
          eval $(opam env)
          cd semgrep-core
          make test

  mac-build:
    name: Check builds for macOS
    runs-on: macos-10.15
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: true
      - name: Setup Python
        uses: actions/setup-python@v1
      - name: Run OSX build
        run: ./scripts/osx-release.sh
      - name: Upload artifacts
        uses: actions/upload-artifact@v1
        with:
          name: semgrep-osx
          path: artifacts

  mac-build-linking-test:
    name: Check that semgrep-core runs
    runs-on: macos-10.15
    needs: [mac-build]
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v1
        with:
          name: semgrep-osx
          path: artifacts
      - name: Remove pcre dynamic lib
        run: rm /usr/local/opt/pcre/lib/libpcre.1.dylib
      - name: Test build artifacts
        run: |
          chmod +x ./artifacts/semgrep-core
          ./artifacts/semgrep-core -help
