# This workflow generates the manylinux-wheel for pypi.

name: build-test-manylinux-x86

on:
  workflow_dispatch:
  workflow_call:
    outputs:
      wheel-artifact-name:
        description: "The name under which the wheel artifact was stored"
        value: ${{ jobs.build-wheels-manylinux.outputs.wheel-artifact-name }}

env:
  WHEEL_ARTIFACT_NAME: manylinux-x86-wheel

jobs:
  build-wheels-manylinux:
    runs-on: ubuntu-latest
    #pad: What is this sgrep-xxx image?
    container: returntocorp/sgrep-build:ubuntu-16.04
    outputs:
      wheel-artifact-name: ${{ steps.wheel-artifact-name.outputs.wheel-artifact-name }}
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      #pad: Why do we have this weird setup python step?
      - name: Setup Python
        run: |
          rm /usr/bin/python
          ln `which python3.7` /usr/bin/python3
      - run: apt-get update && apt install -y zip musl-tools
      - uses: actions/download-artifact@v3
        with:
          name: ocaml-build-artifacts-release
      - run: |
          tar xf ocaml-build-artifacts.tgz
          cp ocaml-build-artifacts/bin/semgrep-core cli/src/semgrep/bin
          ./scripts/build-wheels.sh
      - uses: actions/upload-artifact@v3
        with:
          name: "${{ env.WHEEL_ARTIFACT_NAME }}"
          path: cli/dist.zip
      - name: Set Wheel Name Output
        id: wheel-artifact-name
        run: |
          echo "wheel-artifact-name=${WHEEL_ARTIFACT_NAME}" >> $GITHUB_OUTPUT

  test-wheels-manylinux:
    runs-on: ubuntu-latest
    container: quay.io/pypa/manylinux1_x86_64
    needs: [build-wheels-manylinux]
    steps:
      - uses: actions/download-artifact@v1
        with:
          name: "${{ env.WHEEL_ARTIFACT_NAME }}"
      - run: unzip "./${{ env.WHEEL_ARTIFACT_NAME }}/dist.zip"
      - name: install package
        run: /opt/python/cp37-cp37m/bin/pip install dist/*.whl
      - name: test package
        run: |
          export PATH=/opt/python/cp37-cp37m/bin:$PATH
          semgrep --version
      - name: e2e semgrep-core test
        run: |
          export PATH=/opt/python/cp37-cp37m/bin:$PATH
          echo '1 == 1' | semgrep -l python -e '$X == $X' -
