# Cron to check end-to-end (E2E) that the 'semgrep ci' subcommand,
# ran through our docker 'develop' semgrep image, works correctly.
# This is very important because 'semgrep ci' and our 'develop' docker image
# are the main things our users of Semgrep App are using in their CIs.
# It also allows us to confirm "fail-open" behavior is still functioning as expected
# (e.g., we aren't passing on blocking findings).

name: Semgrep CI E2E Test

on:
  workflow_dispatch:
    inputs:
      docker_tag:
        description: "Docker Tag to Run. Default: develop"
        required: false
        default: "develop"
  schedule:
    - cron: "43 20 * * *"

jobs:
  # TODO: goal of this job?? get inputs for what? and what are those inputs?
  get-inputs:
    name: Get Inputs
    runs-on: ubuntu-22.04
    outputs:
      docker_tag: ${{ steps.get-inputs.outputs.docker_tag }}
    steps:
      - name: Set variables
        id: get-inputs
        env:
          DOCKER_TAG: develop
        run: |
          echo "docker_tag=${{ inputs.docker_tag || env.DOCKER_TAG }}" >> $GITHUB_OUTPUT
      - name: Debug
        run: |
          echo "${{ steps.get-inputs.outputs.docker_tag }}"

  semgrep-ci:
    name: Static Analysis Scan
    runs-on: ubuntu-22.04
    env:
      SEMGREP_APP_TOKEN: ${{ secrets.SEMGREP_E2E_APP_TOKEN }}
    needs: get-inputs
    container:
      image: "returntocorp/semgrep:${{ needs.get-inputs.outputs.docker_tag }}"
    steps:
      - uses: actions/checkout@v3
      #TODO? this run semgrep ci on the checkout semgrep repo itself?
      - run: semgrep ci

  semgrep-ci-fail-open:
    name: Semgrep CI Fail Open
    runs-on: ubuntu-22.04
    env:
      SEMGREP_APP_TOKEN: ${{ secrets.SEMGREP_E2E_APP_TOKEN }}
      SEMGREP_APP_URL: https://staging.semgrep.dev
      SEMGREP_USER_AGENT_APPEND: semgrep-ci-e2e
    needs: get-inputs
    container:
      image: "returntocorp/semgrep:${{ needs.get-inputs.outputs.docker_tag }}"
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      #TODO: why do we remove git? what are we testing here?
      - name: Remove Git Exe
        run: |
          which git
          rm /usr/bin/git
      - name: Run CI
        run: semgrep ci --suppress-errors

  semgrep-ci-fail-open-blocking-findings:
    name: Semgrep CI Fail Open Blocking Findings
    runs-on: ubuntu-22.04
    env:
      SEMGREP_APP_TOKEN: ${{ secrets.SEMGREP_E2E_APP_TOKEN }}
      SEMGREP_USER_AGENT_APPEND: semgrep-ci-e2e
    needs: get-inputs
    container:
      image: "returntocorp/semgrep:${{ needs.get-inputs.outputs.docker_tag }}"
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Create code under test
        id: create-code
        run: |
          cat > ./test.py <<- EOF
          import click

          # ruleid:use-click-secho
          click.echo(click.style("foo"))
          EOF
      - name: Run CI
        id: run-ci
        run: |
          # If we get error code 0: unexpected, return an error. Otherwise, continue on.
          # other tests ensure that error code >=2 are handled appropriately.
          if semgrep ci --suppress-errors; then
            exit 2
          else
            exit 0
          fi

  semgrep-ci-on-pr:
    name: Run Semgrep CI on a PR
    uses: ./.github/workflows/open-bump-pr.yml
    secrets: inherit
    needs: get-inputs
    with:
      version: "${{ needs.get-inputs.outputs.docker_tag }}"
      repository: "returntocorp/e2e"
      base_branch: "develop"
      new_branch_name: "e2e-test-${{ github.run_id }}"
      bump_script_path: "scripts/change-version.sh"

  pr-url:
    runs-on: ubuntu-22.04
    needs: semgrep-ci-on-pr
    steps:
      - run: echo ${{ needs.semgrep-ci-on-pr.outputs.pr-url }}
      - run: echo ${{ needs.semgrep-ci-on-pr.outputs.pr-number }}

  wait-for-checks:
    runs-on: ubuntu-22.04
    needs: semgrep-ci-on-pr
    steps:
      - name: Get JWT for semgrep-ci GitHub App
        id: jwt
        uses: docker://public.ecr.aws/y9k7q4m1/devops/cicd:latest
        env:
          EXPIRATION: 600 # seconds
          ISSUER: ${{ secrets.SEMGREP_CI_APP_ID }} # semgrep-ci GitHub App id
          PRIVATE_KEY: ${{ secrets.SEMGREP_CI_APP_KEY }}
      - name: Get token for semgrep-ci GitHub App
        id: token
        run: |
          TOKEN="$(curl -X POST \
          -H "Authorization: Bearer ${{ steps.jwt.outputs.jwt }}" \
          -H "Accept: application/vnd.github.v3+json" \
          "https://api.github.com/app/installations/${{ secrets.SEMGREP_CI_APP_INSTALLATION_ID }}/access_tokens" | \
          jq -r .token)"
          echo "::add-mask::$TOKEN"
          echo "token=$TOKEN" >> $GITHUB_OUTPUT
      - name: Wait for checks to register
        id: register-checks
        env:
          GITHUB_TOKEN: ${{ steps.token.outputs.token }}
        run: |
          LEN_CHECKS=$(gh pr -R returntocorp/e2e view "${{ needs.semgrep-ci-on-pr.outputs.pr-number }}" --json statusCheckRollup --jq '.statusCheckRollup | length');

          # Immediately after creation, the PR doesn't have any checks attached yet, wait until this is not the case
          # If you immediately start waiting for checks, then it just fails saying there's no checks.
          while [ ${LEN_CHECKS} = "0" ]; do
            echo "No checks available yet"
            sleep 30
            LEN_CHECKS=$(gh pr -R returntocorp/e2e view "${{ needs.semgrep-ci-on-pr.outputs.pr-number }}" --json statusCheckRollup --jq '.statusCheckRollup | length');
          done
          echo "checks are valid"

          echo ${LEN_CHECKS}

          gh pr -R returntocorp/e2e view "${{ needs.semgrep-ci-on-pr.outputs.pr-number }}" --json statusCheckRollup
      - name: Wait for checks to complete
        id: wait-checks
        env:
          GITHUB_TOKEN: ${{ steps.token.outputs.token }}
        run: |
          # Wait for PR checks to finish
          gh pr -R returntocorp/e2e checks "${{ needs.semgrep-ci-on-pr.outputs.pr-number }}" --interval 30 --watch

  notify-failure:
    needs: [semgrep-ci, semgrep-ci-on-pr, wait-for-checks, semgrep-ci-fail-open]
    name: Notify of Failure
    runs-on: ubuntu-20.04
    if: failure()
    steps:
      - name: Notify Failure
        run: |
          curl --request POST \
          --url  ${{ secrets.SEMGREP_CI_E2E_NOTIFICATIONS_URL }} \
          --header 'content-type: application/json' \
          --data '{
            "workflow_run_url": "https://github.com/${{github.repository}}/actions/runs/${{github.run_id}} for more details!",
            "docker_tag": "${{ needs.get-inputs.outputs.docker_tag }}",
            "message": "The PR in `returntocorp/e2e` that had the failure was ${{ needs.semgrep-ci-on-pr.outputs.pr-number }}"
          }'
