name: push-docker

on:
  workflow_dispatch:
    inputs:
      artifact-name:
        required: true
        type: string
        description: Name (key) to use when uploading the docker image tarball as a artifact
      repository-name:
        required: true
        type: string
        description: The repository/name of the docker image to push, e.g., returntocorp/semgrep
      dry-run:
        required: true
        type: boolean
        description: Whether a dry-run (e.g., print tags to push) should be peformed. Actually push images if false.

  workflow_call:
    inputs:
      artifact-name:
        required: true
        type: string
        description: Name (key) to use when uploading the docker image tarball as a artifact
      repository-name:
        required: true
        type: string
        description: The repository/name of the docker image to push, e.g., returntocorp/semgrep
      dry-run:
        required: true
        type: boolean
        description: Whether a dry-run (e.g., print tags to push) should be peformed. Actually push images if false.
        default: true

jobs:
  push-docker:
    name: Push Semgrep Docker Image
    runs-on: ubuntu-22.04
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Download artifact
        uses: actions/download-artifact@v3
        with:
          name: ${{ inputs.artifact-name }}
          path: /tmp
      - name: Load image
        run: |
          docker load --input /tmp/image.tar
      - name: List Images
        if: ${{ inputs.dry-run }}
        run: |
          docker image list --digests
      - uses: docker/login-action@v2
        if: ${{ ! inputs.dry-run }}
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Push Image
        if: ${{ ! inputs.dry-run }}
        run: |
          docker push --all-tags "${{ inputs.repository-name }}"
