# This workflow performs additional tasks on a PR when
# someone (or start-release.yml) push to a vXXX branch.
# Those tasks are to push a new develop docker image, create
# release artifacts with the Linux and MacOS semgrep packages,
# update PyPy and homebrew, etc.

name: release

on:
  workflow_dispatch:
    inputs:
      dry-run:
        description: "Run the release in dry-run mode, e.g., without changing external state (like pushing to PyPI/Docker)"
        required: true
        type: boolean
        default: true

  workflow_call:
    inputs:
      dry-run:
        description: "Run the release in dry-run mode, e.g., without changing external state (like pushing to PyPI/Docker)"
        required: true
        type: boolean
        default: true

  push:
    branches:
      # Sequence of patterns matched against refs/tags
      - "**-test-release"
    tags:
      - "v*" # Push events to matching v*, i.e. v1.0, v20.15.10

jobs:
  dry-run:
    name: Evaluate Dry Run
    runs-on: ubuntu-22.04
    outputs:
      dry-run: ${{steps.dry-run.outputs.dry-run}}
    steps:
      - name: Evaluate Dry Run
        id: dry-run
        run: |
          if [ "${{ inputs.dry-run }}" = "true" ]; then
            echo ::set-output name=dry-run::true
            echo "Setting dry-run to TRUE"
          else
            echo ::set-output name=dry-run::false
            echo "Setting dry-run to FALSE"
          fi

  # wait-for-build-test:
  #   name: Wait for Build/Test All Platforms
  #   runs-on: ubuntu-22.04
  #   needs:
  #     [
  #       build-test-docker,
  #       build-test-manylinux-x86,
  #       build-test-osx-x86,
  #       build-test-osx-m1,
  #       build-test-ubuntu-16-04,
  #     ]
  #   steps:
  #     - name: Continue
  #       run: echo "All Platforms have been built and tested - proceeding!"

  wait-for-build-test:
    name: Wait for Build/Test All Platforms
    runs-on: ubuntu-22.04
    needs: [build-test-manylinux-x86, build-test-ubuntu-16-04]
    steps:
      - name: Continue
        run: echo "All Platforms have been built and tested - proceeding!"

  # create-release:
  #   name: Create the Github Release
  #   runs-on: ubuntu-latest
  #   needs: [wait-for-build-test, dry-run]
  #   # if: ${{ !contains(github.ref, '-test-release') && needs.dry-run.outputs.dry-run != 'true' }}
  #   steps:
  #     - name: Get the version
  #       id: get-version
  #       run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}
  #     # wait for the draft release since these may not be ready after the refactor of the start-release.
  #     - name: Wait for Draft Release if not Ready
  #       id: wait-draft-release
  #       env:
  #         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  #       run: |
  #         while ! gh release --repo bridgecrewio/semgrep list -L 5 | grep -q "${{ steps.get-version.outputs.VERSION }}"; do
  #           echo "release not yet ready, sleeping for 5 seconds"
  #           sleep 5
  #         done
  #     # OSX
  #     # - uses: actions/download-artifact@v3
  #     #   with:
  #     #     name: semgrep-osx-${{ github.sha }}
  #     #     path: semgrep-osx
  #     # - name: Compute checksum
  #     #   run: cat ./semgrep-osx/artifacts.zip | sha256sum > ./semgrep-osx/artifacts.zip.sha256
  #     - name: Upload Release Asset
  #       id: upload-release-asset-osx
  #       env:
  #         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  #       run: |
  #         cp ./semgrep-osx/artifacts.zip semgrep-${{ steps.get-version.outputs.VERSION }}-osx.zip
  #         gh release --repo bridgecrewio/semgrep upload ${{ steps.get-version.outputs.VERSION }} semgrep-${{ steps.get-version.outputs.VERSION }}-osx.zip
  #         rm semgrep-${{ steps.get-version.outputs.VERSION }}-osx.zip
  #     - name: Upload Release Checksum
  #       id: upload-checksum-asset-osx
  #       env:
  #         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  #       run: |
  #         cp ./semgrep-osx/artifacts.zip.sha256 semgrep-${{ steps.get-version.outputs.VERSION }}-osx.zip.sha256
  #         gh release --repo bridgecrewio/semgrep upload ${{ steps.get-version.outputs.VERSION }} semgrep-${{ steps.get-version.outputs.VERSION }}-osx.zip.sha256
  #         rm semgrep-${{ steps.get-version.outputs.VERSION }}-osx.zip.sha256
  #         ## UBUNTU
  #     - uses: actions/download-artifact@v3
  #       with:
  #         name: semgrep-ubuntu-16.04-${{ github.sha }}
  #         path: semgrep-ubuntu
  #     - name: Compute checksum
  #       run: cat ./semgrep-ubuntu/artifacts.tar.gz | sha256sum > ./semgrep-ubuntu/artifacts.tar.gz.sha256
  #     - name: Upload Release Asset
  #       id: upload-release-asset-ubuntu
  #       env:
  #         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  #       run: |
  #         cp ./semgrep-ubuntu/artifacts.tar.gz semgrep-${{ steps.get-version.outputs.VERSION }}-ubuntu-16.04.tgz
  #         gh release --repo bridgecrewio/semgrep upload ${{ steps.get-version.outputs.VERSION }} semgrep-${{ steps.get-version.outputs.VERSION }}-ubuntu-16.04.tgz
  #         rm semgrep-${{ steps.get-version.outputs.VERSION }}-ubuntu-16.04.tgz
  #     - name: Upload Release Checksum
  #       id: upload-release-checksum-ubuntu
  #       env:
  #         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  #       run: |
  #         cp ./semgrep-ubuntu/artifacts.tar.gz.sha256 semgrep-${{ steps.get-version.outputs.VERSION }}-ubuntu-16.04.tgz.sha256
  #         gh release --repo bridgecrewio/semgrep upload ${{ steps.get-version.outputs.VERSION }} semgrep-${{ steps.get-version.outputs.VERSION }}-ubuntu-16.04.tgz.sha256
  #         rm semgrep-${{ steps.get-version.outputs.VERSION }}-ubuntu-16.04.tgz.sha256
  #     - name: Publish Release
  #       id: publish_release
  #       env:
  #         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  #       run: |
  #         gh release --repo bridgecrewio/semgrep edit ${{ steps.get-version.outputs.VERSION }} --draft=false

  # create-release-interfaces:
  #   name: Create the Github Release on Semgrep Interfaces
  #   runs-on: ubuntu-latest
  #   # if: ${{ !contains(github.ref, '-test-release') && needs.dry-run.outputs.dry-run != 'true' }}
  #   needs: [wait-for-build-test, dry-run]
  #   steps:
  #     - name: Get the version
  #       id: get-version
  #       run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}
  #     - name: Get JWT for semgrep-ci GitHub App
  #       id: jwt
  #       uses: docker://public.ecr.aws/y9k7q4m1/devops/cicd:latest
  #       env:
  #         EXPIRATION: 600 # seconds
  #         ISSUER: ${{ secrets.SEMGREP_CI_APP_ID }} # semgrep-ci GitHub App id
  #         PRIVATE_KEY: ${{ secrets.SEMGREP_CI_APP_KEY }}
  #     - name: Get token for semgrep-ci GitHub App
  #       id: token
  #       run: |
  #         TOKEN="$(curl -X POST \
  #         -H "Authorization: Bearer ${{ steps.jwt.outputs.jwt }}" \
  #         -H "Accept: application/vnd.github.v3+json" \
  #         "https://api.github.com/app/installations/${{ secrets.SEMGREP_CI_APP_INSTALLATION_ID }}/access_tokens" | \
  #         jq -r .token)"
  #         echo "::add-mask::$TOKEN"
  #         echo "::set-output name=token::$TOKEN"
  #     - name: Checkout
  #       uses: actions/checkout@v3
  #       with:
  #         submodules: true
  #         token: ${{ steps.token.outputs.token }}
  #     - name: Upload Schema Files
  #       id: upload-semgrep-schema-files
  #       env:
  #         GITHUB_TOKEN: "${{ steps.token.outputs.token }}"
  #       run: |
  #         gh release --repo returntocorp/semgrep-interfaces upload ${{ steps.get-version.outputs.VERSION }} cli/src/semgrep/semgrep_interfaces/rule_schema_v1.yaml
  #     - name: Publish Release Semgrep Interfaces
  #       id: publish_release_semgrep_interfaces
  #       env:
#         GITHUB_TOKEN: "${{ steps.token.outputs.token }}"
  #       run: |
  #         gh release --repo returntocorp/semgrep-interfaces edit ${{ steps.get-version.outputs.VERSION }} --draft=false

  # build-test-osx-x86:
  #   uses: ./.github/workflows/build-test-osx-x86.yaml
  #   secrets: inherit

  # build-test-osx-m1:
  #   uses: ./.github/workflows/uild-test-osx-m1.yaml
  #   secrets: inherit

  # build-test-docker:
  #   uses: ./.github/workflows/build-test-docker.yaml
  #   secrets: inherit

  # push-docker:
  #   name: Push Semgrep Docker image
  #   runs-on: ubuntu-latest
  #   needs: [wait-for-build-test, dry-run]
  #   if: ${{ !contains(github.ref, '-test-release') && needs.dry-run.outputs.dry-run != 'true' }}
  #   steps:
  #     - name: Login to Docker Hub
  #       uses: docker/login-action@v2
  #       with:
  #         username: ${{ secrets.DOCKER_USERNAME }}
  #         password: ${{ secrets.DOCKER_PASSWORD }}

  #     - id: meta
  #       name: Set tags and labels
  #       uses: docker/metadata-action@v4
  #       with:
  #         images: ${{ github.repository }}
  #         # :latest is also added automatically
  #         tags: |
  #           type=semver,pattern={{version}}
  #           type=semver,pattern={{major}}.{{minor}}

  #     - name: Push image
  #       uses: docker/build-push-action@v3
  #       with:
  #         push: true
  #         tags: ${{ steps.meta.outputs.tags }}
  #         labels: ${{ steps.meta.outputs.labels }}
  #         cache-from: type=gha,src=/tmp/.buildx-cache
  #         cache-to: type=gha,dest=/tmp/.buildx-cache,mode=max

  build-test-core-x86:
    uses: ./.github/workflows/build-test-core-x86.yaml
    secrets: inherit

  build-test-ubuntu-16-04:
    needs: [build-test-core-x86]
    uses: ./.github/workflows/build-test-ubuntu-x86.yaml
    secrets: inherit

  build-test-manylinux-x86:
    needs: [build-test-core-x86]
    uses: ./.github/workflows/build-test-manylinux-x86.yaml
    secrets: inherit

  upload-wheels:
    name: Upload Wheels to PyPI
    runs-on: ubuntu-latest
    needs: [wait-for-build-test, dry-run]
    # if: ${{ !contains(github.ref, '-test-release') && needs.dry-run.outputs.dry-run != 'true' }}
    steps:
      - name: Download Artifact
        uses: actions/download-artifact@v3
        with:
          name: manylinux-wheel
          path: manylinux-wheel
      # - name: Download Osx Artifact
      #   uses: actions/download-artifact@v3
      #   with:
      #     name: osx-wheel
      #     path: osx-wheel
      # - name: Download Artifact
      #   uses: actions/download-artifact@v3
      #   with:
      #     name: m1-wheel
      #     path: m1-wheel
      - name: Unzip
        run: unzip ./manylinux-wheel/dist.zip
      # - name: Unzip OSX Wheel
      #   # Don't unzip tar.gz because it already exists from ./manylinux-wheel/dist.zip.
      #   run: unzip ./osx-wheel/dist.zip "*.whl"
      # - name: Unzip M1 Wheel
      #   # Don't unzip tar.gz because it already exists from ./manylinux-wheel/dist.zip.
      #   run: unzip ./m1-wheel/dist.zip "*.whl"
      - name: Publish to Pypi
        uses: pypa/gh-action-pypi-publish@master
        # if: ${{ !contains(github.ref,'-test-release') }}
        with:
          user: __token__
          password: ${{ secrets.PYPI_TOKEN }}
          skip_existing: true
      # - name: Publish to test Pypi
      #   uses: pypa/gh-action-pypi-publish@master
      #   if: ${{ contains(github.ref,'-test-release') }}
      #   with:
      #     repository_url: https://test.pypi.org/legacy/
      #     user: __token__
      #     password: ${{ secrets.test_pypi_upload_token }}
      #     skip_existing: true

  park-pypi-packages:
    name: Park PyPI package names
    runs-on: ubuntu-latest
    needs: [dry-run]
    # if: ${{ !contains(github.ref, '-test-release') && needs.dry-run.outputs.dry-run != 'true' }}
    defaults:
      run:
        working-directory: cli/
    env:
      SEMGREP_SKIP_BIN: "1"
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"
          cache: pipenv
      - run: sudo python3 -m pip install pipenv==2022.6.7
      - name: Install dependencies
        run: pipenv install --dev
      - name: Build parked packages
        run: pipenv run python setup.py park
      - name: Publish to Pypi
        uses: pypa/gh-action-pypi-publish@master
        # if: ${{ !contains(github.ref,'-test-release') }}
        with:
          user: __token__
          password: ${{ secrets.PYPI_TOKEN }}
          skip_existing: true
          packages_dir: cli/dist/
      # - name: Publish to test Pypi
      #   uses: pypa/gh-action-pypi-publish@master
      #   if: ${{ contains(github.ref,'-test-release') }}
      #   with:
      #     repository_url: https://test.pypi.org/legacy/
      #     user: __token__
      #     password: ${{ secrets.test_pypi_upload_token }}
      #     skip_existing: true
      #     packages_dir: cli/dist/

  # sleep-before-homebrew:
  #   name: Sleep 10 min before releasing to homebrew
  #   # Need to wait for pypi to propagate ssince pipgrip relies on it being published on pypi
  #   needs: [dry-run, upload-wheels]
  #   runs-on: ubuntu-latest
  #   if: ${{ !contains(github.ref, '-test-release') && needs.dry-run.outputs.dry-run != 'true' }}
  #   steps:
  #     - name: Sleep 10 min
  #       run: sleep 10m

  # homebrew-core-pr:
  #   name: Update on Homebrew-Core
  #   needs: [dry-run, sleep-before-homebrew] # Needs to run after pypi released so brew can update pypi dependency hashes
  #   runs-on: macos-12
  #   if: ${{ !contains(github.ref, '-test-release') && needs.dry-run.outputs.dry-run != 'true' }}
  #   steps:
  #     - name: Get the version
  #       id: get-version
  #       run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}
  #     - uses: actions/setup-python@v4
  #       id: python-setup
  #       with:
  #         # Pin to python 3.9 for pipgrip issues: see https://github.com/returntocorp/semgrep/issues/4213
  #         python-version: "3.9.x"
  #     - name: Brew update
  #       run: brew update
  #     # pipgrip tries to install python@3.11, and that has linking issues unless --overwrite is passed.
  #     # we may be able to remove the python setup above.
  #     - name: Brew install python@3.11
  #       run: brew install --overwrite python@3.11
  #     - name: Install pipgrip
  #       run: brew install --overwrite pipgrip
  #     - name: Open Brew PR on homebrew/homebrew-core
  #       env:
  #         HOMEBREW_GITHUB_API_TOKEN: ${{ secrets.HOMEBREW_PR_TOKEN }}
  #       run: |
  #         brew bump-formula-pr --force --no-audit --no-browse \
  #           --message="Bump semgrep to version ${{ steps.get-version.outputs.VERSION }}" \
  #           --fork-org=returntocorp --tag="${{ steps.get-version.outputs.VERSION }}" semgrep
